*{
margin:0;
padding:0;
background-color: #000;
}
#banner{
background:url(images/Princess.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}

.logo{
width: 90px;
position: absolute;
top: 5%;
left: 10%;
}
.banner-text{
text-align: center;
color: white;
padding-top: 180px;

}
.banner-text h1{
font-size:130px;
}

.banner-text p{
font-size:20px;
font-style: italic;  
}
.banner-btn{
margin:70px auto 0;
}
.banner-btn a{
    width:150px;
    text-decoration:none;
    display:inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color:white;
    border: .5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height :100%;
    position: absolute;
    top: 0;
    left:0;
    background: white;
    z-index:-1;
    transition: color 0.5s;   
}

.banner-btn a:hover span{
    width:100%;
}

.banner-btn a:hover{
    color: #000;
}
/* navigation  */
#sideNav{
    width:250px ;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: black ;
    z-index: 2;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
text-decoration: none;
color:#fff;
}
#menuBtn{
    width:50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px ;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}
#menuBtn img{
    width: 40px ;
    margin-top:15px;
} 
/* phone view---------------- */
@media screen and (max-width: 770px ){
    .banner-text h1{
        font-size:44px;
    }
    .banner-btn a{
        display : block;
        margin: 20px auto;
    }
}
  /* slideshow gallery */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }