*{
margin:0;
padding:0;
background-color: black;
}

/* logo */
.logo{
width:70px;
position: absolute;
top: 3%;
left: 3%;
}

/* for About us title */
h2 {
border-style: solid;
border-width: 2px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
padding: 10px;
}

/* side navigation */
#sideNav{
width:250px ;
height: 100vh;
position: fixed;
right: -250px;
top: 0; 
z-index: 2;
transition: 0.5s;
}
nav ul li {
  list-style: none; 
  margin: 50px 20px; 
}
nav ul li a{
text-decoration: none;
color:#fff;
} 

/* menu button */
#menuBtn{
text-align: center;
position: fixed;
right: 30px ;
top: 20px;
border-radius: 3px;
z-index: 3;
cursor: pointer;
}
#menuBtn img{
width: 40px ;
margin-top: 5px;
} 
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/* table  */
table, th, td {
border: 1px solid white;
border-collapse: collapse;
width: 75%;
padding:10px;
font-family:'Times New Roman', Times, serif;
font-size:20px
}

/* table */
.tab {
display: flex;
flex-wrap: wrap;
}


/* arrangement of row and main */
.row {
display: flex;
flex-wrap: wrap;
}

/*Side Column picture*/
.side {
flex: 45%;
padding: 1px;
}

/*Styling Main Column*/
.main {
flex: 50%;
background-color:black;
font-size: 120%;
padding: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
justify-content:space-between;
}


/*Styling Side Column*/
.profile {
flex: 20%;
display: inline-block;
padding: 20px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

/*Styling Main Column*/
.side1 {
flex: 50%;
background-color:black;
font-size: large;
padding: 10px;
font-family: 'Times New Roman', Times, serif;
}
/*image text*/
.container {
position: relative;
text-align: center;
color: white;
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* footer style */
.footer{
background-color: black;
color: white;
padding: 10px;
height: 50px;
}
/* icon */
.icon{
width: 30px;
height: 30px;
padding: 10px;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

/* phone version */
@media screen and (max-width: 770px ){
.banner-text h1{
    font-size:44px;
}
.banner-btn a{
  display : block;
  margin: 20px auto;
}
}
@media screen and (max-width: 500px) {
.column {
width: 100%;
}
}
